p{
    color:brown;
    font-size: 10px;
    font-family: Verdana;
}
#p1{
   color : rgb(245, 241, 15);
   font-family: Verdana;
 }
 #p2{
   color : rgb(15, 245, 80);
   font-family:cursive;
 }
.p3{
 color : blue;
 }